@import url(http://webfonts.ru/import/lato.css);

body {
	font-family: 'Lato';
	font-size: 18px;
}

h1 {font-size: 48px;}

h2 {font-size: 40px;}

h3 {font-size: 36px;}

h4 {font-size: 30px;}

h5 {font-size: 24px;}

h6 {font-size: 20px;}

section {padding-top: 100px;}

.text-center img {margin: 0 auto;}

/* Preloader */
.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.loader .loader_inner {
	background-color: #fff;
	background-image: url(../img/preloader.gif);
	background-repeat: no-repeat;
	background-size: cover;
	height: 60px;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	position: absolute;
	top: 50%;
	width: 60px;
}

/* Parallax */
#start {
	background:url(../img/start.jpg) 0 0 no-repeat fixed;
	margin: 0 auto;
}

#how {
	background:url(../img/how.png) 0 0 no-repeat fixed;
	margin: 0 auto;
}

#news {
	background:url(../img/news.jpg) 0 0 no-repeat fixed;
	margin: 0 auto;
}

#contacts {
	background:url(../img/contacts.jpg) 0 0 no-repeat fixed;
	margin: 0 auto;
}

/* Triangle for cutting sections */
.triangle {
	background-image: url(../img/angle.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 90px;
	top: 89px;
	position: relative;
	transform: rotateX(180deg);
}

.triangle_1 {
	background-image: url(../img/angle.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 90px;
	top: -89px;
	position: relative;
}

/* Top menu styles*/
#top_menu {
	background: none repeat scroll 0 0 #fff;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#top_menu img {padding-top: 11%;}

#top_menu ul {
	height: 100px;
	padding-top: 3%;
}

nav li {
	float: left;
	list-style: outside none none;
	padding: 2%;
}

nav a {
	font-weight: bold;
	color: #000;
}

nav a:hover {color: #000;}

#top_menu p {
	font-size: 1.7em;
	font-weight: bold;
}

.back_call {
	background: none repeat scroll 0 0 #6290be;
	border: 1px solid #5a84ad;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #000000;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 30px;
	text-align: center;
	text-shadow: 1px 1px 0 #000000;
	transition: color 0s linear 0s;
}

.back_call:hover, .back_call:active, .back_call:focus {
	padding: 10px 30px; 
	border: solid 1px #5a84ad; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	font-size: 16px; 
	font-weight: bold;
	text-decoration: none; 
	color: #ffffff; 
	background: #71a8de; 
	-webkit-box-shadow: 1px 1px 1px #000000;  -moz-box-shadow: 1px 1px 1px #000000;  box-shadow:1px 1px 1px #000000;  
	text-shadow: 1px 1px 1px #000000; 
	filter: dropshadow(color=#000000, offx=1, offy=1);
}

/* First presentation block with contact form */
#start {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	padding-top: 7%;
}

.w_form {margin: 100px 0;}

.pro p {font-size: 20px;}

form {
	background-color: #a6b3bf;
	width: 300px;
	border-radius: 5px;
}

.form_header {
	background-image: url(../img/hform.png);
	padding: 30px;
}

form h4 {color: #f1464d;}

.h5-name, .h5-phone {
	border-radius: 5px;
	color: #a1a1a1;
	font-size: 24px;
	height: 40px;
	margin-top: 10px;
	padding-left: 10px;
	width: 270px;
}

.consult {
	background: none repeat scroll 0 0 #ff2c14;
	border: 1px solid #eb2b15;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #000000;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	padding: 10px 18px;
	text-align: center;
	text-shadow: 1px 1px 0 #000000;
	transition: color 0s linear 0s;
}

.consult:hover, .consult:active, .consult:focus {
	padding: 10px 18px; 
	border: solid 1px #eb2b15; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	font-size: 20px; 
	font-weight: bold;
	text-decoration: none; 
	color: #ffffff; 
	background: #fb4d39; 
	-webkit-box-shadow: 1px 1px 1px #000000;  -moz-box-shadow: 1px 1px 1px #000000;  box-shadow:1px 1px 1px #000000;  
	text-shadow: 1px 1px 1px #000000; 
	filter: dropshadow(color=#000000, offx=1, offy=1);
}

.a_form {
	width: 300px;
	margin: 20px 0;
}

/* When u need to order site or Landing Page */
#uneedus {background-color: #fff;}

#uneedus h5 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.t_uneedus {padding-top: 50px;}

.more {font-weight: 300;}

.seconds {font-weight: 400 !important;}

/* How we making selling sites */
#how {
	color: #fff;
	text-shadow: 1px 1px 0 #000000;
}

#how h1 {padding-bottom: 50px;}

.t_how {padding-bottom: 100px;}

/* Magnific-popup for portfolio images */
#portfolio {
	margin-bottom: 100px;
}

.portfolio-gallery {
	padding: 50px 0;
}

.portfolio-gallery > li {
	float: left;
	list-style: outside none none;
}

.portfolio-gallery a:hover img {
	background-image: 
	opacity: 0.3;
	transform: rotate(10deg);
}

#button_4 {
	position: relative;
	top: 100px;
}

/* Some company news */
#news {
	color: #fff;
	text-shadow: 1px 1px 0 #000000;
	padding-bottom: 100px;
}

#news p {padding: 20px 0;}

.b_news {float: right;}

.back_call.b_news {margin-right: 10px;}

#news h5 {
	padding: 20px 0 20px 5px !important;
	width: 350px;
	text-align: center;
}

.t_news {
	background: none repeat scroll 0 0 #ff2c14;
	padding: 20px 0 20px 5px !important;
	width: 350px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 700px;
  margin: 20px auto;
  max-height: 700px;
  overflow-x: scroll;
}

.s_news img {padding: 20px 0;}

.s_news p {text-align: justify;}

.s_news ul, .s_news li {text-align: left;}

.s_news h5 {text-align: left;}

.s_news button {
	position: fixed;
	right: 29%;
	top: 2%;
}

/* Comments about our work */
#comments h2 {padding-bottom: 50px;}

#comments img {
	float: left;
	padding-right: 15px;
	border-radius: 100px;
}

#comments h6 {padding: 70px 0;}

#comments p {
	text-align: justify;
	padding-bottom: 100px;
}

/* Who to contact with us */
#contacts {
	color: #fff;
	text-shadow: 1px 1px 0 #000000;
	padding-bottom: 100px;
}

.t_contacts {font-size: 14px;}

/* Footer */
footer {
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000000;
	padding: 30px 0;
	background: #1d1d1d;
}

/* Reval Modal for call back fucntion */
#modal {
	color: #fff;
	text-shadow: 1px 1px 0 #000000;
}

.popup .reveal-modal {
	background: none repeat scroll 0 0 #fff;
	padding: 15px;
}

#modal p {font-size: 14px;}

/* Form */
.h5-name, .h5-phone {
	color: #000;
	margin-bottom: 10px;
}

.h5-name.h5-active.black, .h5-phone.h5-active.black {border: 1px solid #ff0000;}

/* Form answer */
#message > h2, #message > p {color: #000;}
